* {
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}


body {
	background: linear-gradient(to bottom right, lightblue, pink) fixed;

	.challenge {
		background: linear-gradient(to bottom right, pink, white);
		width: 70%;
		height: 4rem;
	}
}