* {
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}



body {
	background: linear-gradient(to bottom right, lightblue, pink) fixed;

	.challenge {
		background: linear-gradient(to bottom right, pink, white);
		width: 70%;
		height: 4rem;
	}
i {
	font-size: 20px;
}


.vote-box {
	border: 1px dashed red;
}

h4 {
	font-size: 50px;

	 -webkit-text-stroke-width: 2px;
  	 -webkit-text-stroke-color: black;

	color: white;
}
}